.App {
  text-align: center;
}

.spinner{
    height: 100px;
    width: 100px;
    pointer-events: none;
    border-radius: 50%;
    }

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spinner-spin infinite 20s linear;
  }
}


@keyframes spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.App {
  text-align: center;
}
.stage{
  display: flex;
  justify-content: space-between;
  align-self: center;
}


div.thumbs-wrapper axis-vertical{
  margin-top: 0;
  margin-bottom:0;
}
.carousel .thumbs {
  padding-left:0;
} 
.carousel .control-dots{
 margin-bottom: 30px !important;
}
.carousel .slide img {
  height: 480px;
} 
.carousel .slide div.legend{
  bottom: 60px;
  background:black;
  margin-left: -20%;
  width: 40%;
}
.carousel .carousel-status {
  top:15px;
  right:34px;
} 
.carousel .control-next.control-arrow:before {
  border-left: 15px solid #fff;
}
.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  content: '';
}
.carousel .control-prev.control-arrow:before {
  border-right: 15px solid #fff;
}
.carousel .thumb.selected, .carousel .thumb:hover {
   border: none;
}

li.slide>div, button{ 
  font-family: 'Brush Script MT', cursive; 
  background-color: black;
  border: 4px solid black;
  padding: 22px;
}
.title{
 font-size: 16px;
}
.btnStyle{
 color:black;
 padding: 0.35em 1.2em;
 border:0.1em solid #FFFFFF;
 margin: 0.8em 0.3em 0.3em 0;
 border-radius: 10px;
 background-color: white;
 outline: white;
 cursor: pointer;
 margin-left:1.5em;
}

 
